<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie library</title>
    <link rel="stylesheet" type= "text/css" href="../static/style.css">
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>

<h2>Movie library</h2>

<table>
    <thead>
    
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Year</th>
    <th>Species</th>
    <th>Watch?</th>
    <th>actions</th>
    </thead>
{% for movie in movlib %}
    <tr>
        <td>{{ movie.id }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.description }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.species }}</td> 
        <td>{{ movie.watch}}</td>
        <td>
                <form action="//localhost:5000/movies/delete/{{movie.id}}" method="GET">
            <input type="submit" value=delete>
            
        </form>
        <form action="//localhost:5000/movies/{{movie.id}}" method="GET">
            <input type="submit" value=Update>
            
        </form>
        </td>
        
    </tr>
{% endfor %}
</table>

<div>
    <h2> {{Add new movie:}} </h2>
        <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>
</body>
</html>