{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Movie library</title>
    <link rel="stylesheet" type= "text/css" href="../static/style.css">
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<h2>Update movie: {{ movie.title }}</h2>



<div>
    
        <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go">
    </form>
</div>
{% endblock %}